.subheadline-1{
    color: #E1D8B0;
  }
  
  .container {
    display: flex;
    flex-direction: row; /* Set to row so sidebar and main content are side by side */
  }
  
  .sidebar {
    position: sticky;
    top: 12%;
    width: 24%;
    align-self: flex-start; /* Aligns the sidebar to the top of the container */
  }
  
  .tabs{
    display: none;
  }
    
  .sidebar-option {
    margin-bottom: 20px; /* Adds some space between the options */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the options */
  }
  
  .apply-now-button {
    width: 145px;
    height: 33px;
    background-color: #40667D;
    border-radius: 10px;
    border: none; /* Removes the default border */
    color: white; /* Sets the text color to white */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the button */
  }
  
  .apply-now-button:hover {
    background-color: #305060; /* Changes the background color when hovering over the button */
  }
  
  
  @media (max-width: 768px) {
    .container {
  
    }
    .sidebar {
      display: none;
    }
  
    .content-block {
      position: sticky;
      top: 80px;
      width: 100%;
      /* backdrop-filter: blur(10px); */
      z-index: 1; /* to keep it above other elements */
    }
    
    .tabs {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px; /* optional: for some inner spacing */
    }
    
    .tab-option {
      cursor: pointer;
      padding: 10px; /* optional: for some spacing around tabs */
      transition: transform 0.3s ease; /* for smooth animation */
    }
    
    .tab-option:active {
      transform: scale(0.95); /* for click animation */
    }
    
    .tab-option.active {
      font-weight: bold; /* optional: to highlight the active tab */
      border-bottom: 2px solid #000; /* optional: to add a bottom border to the active tab */
    }
  
  }
  
  .main-section {
    flex: 1; /* Allows the main section to take up the remaining space */
    margin-left: 2%; /* Provides a gap between the sidebar and the main content */
    width: 74%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .main-section .headline-1 {
    /* margin-bottom: 10px; */
  }
  
  .main-section .subheadline-1 {
    margin-bottom: 20px;
  }
  
  .main-section-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .buttons {
    margin: auto;
    display: flex;
    width: 170.13px;
    height: 67.33px;
    align-items: center;
    justify-content: center;
    padding: 24px 61px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid;
    border-color: var(--text-color-dark);
  }
  
  .buttons .button {
    position: relative;
    width: fit-content;
    margin-top: -6px;
    margin-bottom: -3.67px;
    margin-left: -31px;
    margin-right: -30.87px;
    color: var(--text-color-dark);
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    all: unset;
    box-sizing: border-box;
  }
  
  
  .buttons:active{
    transform: scale(0.95); /* Add scale transformation for click animation */
  }
  
  
  @media(max-width:768px) {
    .main-section {
      margin-left: 0; /* Reset the margin */
      width: 100%; /* Set width to 100% for smaller screens */
    }
  }
  
  
  
  
  
  .faq-container {
    display: flex;
    padding: 0px 50px;
    flex-direction: column;
    /* align-items: center; */
    gap: 20px;
    align-self: stretch;
  }
  
  .faq-item {
    border-radius: 10px;
    border: 2px solid #E1D8B0;
    padding: 20px 50px;
  
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .faq-question {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .toggle-icon {
    margin-right: 10px;
  }
  
  .faq-answer {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease;
  }
  
  .faq-answer.hidden {
    display: none;
  }
  
  .faq-answer.visible {
    max-height: 1000px;
  }
  
  
  
  @media (max-width: 768px) {
    .container {
      display: flex;
  
      flex-direction: column;
      padding: 0px 20px;
      /* align-items: center; */
      gap: 0px;
      align-self: stretch;
    }
    
    .faq-item {
      border-radius: 10px;
      border: 2px solid #E1D8B0;
      padding: 20px 50px;
    
      display: flex;
      flex-direction: column;
      gap: 0px;
    }
  
    .headline-1{
      font-size: 40px;
    }
    .headline-2{
      font-size: 24px;
    }
    .subheadline-1{
      font-size: 32px;
    }
    .body-text{
      font-size: 24px;
    }
  }
  
  
  @media (max-width: 480px) {
    .headline-1{
      font-size: 30px;
    }
    
    .headline-2{
      font-size: 18px;
    }
  
    .subheadline-1{
      font-size: 22px;
    }
    .body-text{
      font-size: 18px;
    }
  }