.subheadline-1{
    color: #E1D8B0;
  }
  
  .container {
    display: flex;
    flex-direction: row; /* Set to row so sidebar and main content are side by side */
  }
  
  .sidebar {
    position: sticky;
    top: 12%;
    width: 24%;
    align-self: flex-start; /* Aligns the sidebar to the top of the container */
  }
  
  .tabs{
    display: none;
  }
    
  .sidebar-option {
    margin-bottom: 20px; /* Adds some space between the options */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the options */
  }
  

  
  
  @media (max-width: 768px) {
    .container {
  
    }
    .sidebar {
      display: none;
    }
  
    .content-block {
      position: sticky;
      top: 80px;
      width: 100%;
      /* backdrop-filter: blur(10px); */
      z-index: 1; /* to keep it above other elements */
    }
    
    .tabs {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px; /* optional: for some inner spacing */
    }
    
    .tab-option {
      cursor: pointer;
      padding: 10px; /* optional: for some spacing around tabs */
      transition: transform 0.3s ease; /* for smooth animation */
    }
    
    .tab-option:active {
      transform: scale(0.95); /* for click animation */
    }
    
    .tab-option.active {
      font-weight: bold; /* optional: to highlight the active tab */
      border-bottom: 2px solid #000; /* optional: to add a bottom border to the active tab */
    }
  
  }
  
  .main-section {
    flex: 1; /* Allows the main section to take up the remaining space */
    margin-left: 2%; /* Provides a gap between the sidebar and the main content */
    width: 74%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .main-section .headline-1 {
    /* margin-bottom: 10px; */
  }
  
  .main-section .subheadline-1 {
    margin-bottom: 20px;
  }
  
  .main-section-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  #p1{
    margin-top: 15%;
  }

  

  
  .join-button {
    display: inline-block;
    
    text-decoration: none;
    width: auto; /* Adjust as necessary */
    height: auto; /* Adjust as necessary */
    padding: 24px 61px; /* Adjust as necessary */
    border-radius: 20px; /* Adjust as necessary */
    background-color: #40667D; /* Adjust as necessary */
    color: var(--text-color-dark); /* Adjust as necessary */
    border: none; /* Remove default button border */
    font-size: 24px; /* Adjust as necessary to match your typography settings */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: transform 0.3s; /* Add transition for click animation */
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
    
  }
  
  .join-button:active {
    transform: scale(0.95); /* Add scale transformation for click animation */
  }

  .photo-container {
    position:relative;
    width: 60%;
    margin-left: 10%;
    margin-right: auto;
  }
  
  .photo-container img {
    width: 100%;
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
  }

  .arrow:active {
    transform: translateY(-50%) scale(0.95); /* Add scale transformation for click animation */
  }
  
  .left-arrow {
    left: -50px;
  }
  
  .right-arrow {
    right: -50px;
  }

  
  
  @media(max-width:768px) {
    .main-section {
      margin-left: 0; /* Reset the margin */
      width: 100%; /* Set width to 100% for smaller screens */
    }
  }
  
  
  
  
  
  .faq-container {
    display: flex;
    padding: 0px 50px;
    flex-direction: column;
    /* align-items: center; */
    gap: 20px;
    align-self: stretch;
  }
  
  .faq-item {
    border-radius: 10px;
    border: 2px solid #E1D8B0;
    padding: 20px 50px;
  
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .faq-question {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .toggle-icon {
    margin-right: 10px;
  }
  
  .faq-answer {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease;
  }
  
  .faq-answer.hidden {
    display: none;
  }
  
  .faq-answer.visible {
    max-height: 1000px;
  }
  
  
  
  @media (max-width: 768px) {
    .container {
      display: flex;
  
      flex-direction: column;
      padding: 0px 20px;
      /* align-items: center; */
      gap: 0px;
      align-self: stretch;
    }
    
    .faq-item {
      border-radius: 10px;
      border: 2px solid #E1D8B0;
      padding: 20px 50px;
    
      display: flex;
      flex-direction: column;
      gap: 0px;
    }
  
    .headline-1{
      font-size: 40px;
    }
    .headline-2{
      font-size: 24px;
    }
    .subheadline-1{
      font-size: 32px;
    }
    .body-text{
      font-size: 24px;
    }
  }
  
  
  @media (max-width: 480px) {
    .headline-1{
      font-size: 30px;
    }
    
    .headline-2{
      font-size: 18px;
    }
  
    .subheadline-1{
      font-size: 22px;
    }
    .body-text{
      font-size: 18px;
    }
  }

  .top-gap{
    margin-top: 5%;
  }

  .big_gap{
    margin-top: 15%;
  }

  .FBcontainer{
    display: flex;
  }

  .FBI1{
    width: 50%;
  }

  .FBbutton{
    display: inline-block;
    align-content: center;
    text-decoration: none;
    width: auto; /* Adjust as necessary */
    height: 50px; /* Adjust as necessary */
    padding: 24px 61px; /* Adjust as necessary */
    border-radius: 20px; /* Adjust as necessary */
    background-color: #40667D; /* Adjust as necessary */
    color: var(--text-color-dark); /* Adjust as necessary */
    border: none; /* Remove default button border */
    font-size: 24px; /* Adjust as necessary to match your typography settings */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: transform 0.3s; /* Add transition for click animation */
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .FBbutton:active {
    transform: scale(0.95); /* Add scale transformation for click animation */
  }