<div class="container">

    <div class="sidebar">
      <div class="sidebar-option body-text" (click)="scrollToSection('overview')">Overview</div>
      <div class="sidebar-option body-text" (click)="scrollToSection('audition-information')">Audition Information</div>
      <div class="sidebar-option body-text" (click)="scrollToSection('faq')">FAQ</div>
      <button class="apply-now-button body-text">Apply Now</button>
    </div>
  
    <div class="content-block themetoggle-block">
      <div class="tabs">
        <div class="tab-option body-text" (click)="scrollToSection('overview')">Overview</div>
        <div class="tab-option body-text" (click)="scrollToSection('audition-information')">Audition Information</div>
        <div class="tab-option body-text" (click)="scrollToSection('faq')">FAQ</div>
        <!-- <div class="tab-option body-text">Apply Now</div> -->
      </div>
    </div>
    
    
  
    <div class="main-section">
      <h1 class="headline-1 " id="overview">The Tritones Experience</h1>
      <h2 class="subheadline-1">A Fun, Vibrant Family at UCSD</h2>
      <img src="assets/images/Auditions/1.png" alt="audition 1" class="main-section-image">
      <p class="body-text">
        Singing with the Tritones is a transformative experience that will create lasting memories and plenty of opportunities for personal growth. As a competitive music group, the Tritones maintain an extensive schedule of concerts, gigs, and media appearances within and beyond UC San Diego. At the same time, we always make sure to set aside time for group bonding, retreats, and inter-a cappella group social events. In essence, the Tritones is a home away from home for our group members.
      </p>
      <h2 class="subheadline-1">Performance and Innovation</h2>
      <img src="assets/images/Auditions/2.png" alt="audition 2" class="main-section-image">
      <p class="body-text">
        We perform regularly throughout the school year and travel all over California to perform, compete, and showcase our alma mater, UC San Diego! Besides putting on quarterly shows on campus, our group performs at schools, offices, country clubs, radio, celebrity show openers, and even on TV! As a member of Tritones, there’s always an exciting performance to look forward to, whether it be an on campus gig or on air!
      </p>
      <h2 class="subheadline-1">The Bottom Line: Group Commitment</h2>
      <img src="assets/images/Auditions/3.jpeg" alt="audition 2" class="main-section-image">
      <p class="body-text">
        As much as we love to have fun, the Tritones are a group that works hard. We hold an extremely high regard for rehearsal attendance and decorum. The group rehearses weekly, and extra rehearsals may be scheduled before important performances. Additionally, all members share fundraising and administrative responsibilities. Though there is a significant time commitment, schedules of all members are considered in order to ensure a balanced college experience.
      </p>
      <h1 class="headline-1" id="audition-information">Audition Information</h1>
      <p class="body-text">
        We understand that you may be intimidated by the a cappella audition process here at UC San Diego. We want to assure you that a cappella auditions are not a “test”. The process is simply a tool for all the groups to get to know you as a person while becoming familiar with your voice. We also encourage you to audition for every group that you can possibly audition for; this way, you can determine which group is the best fit for you!
      </p>
      <p class="body-text">
        Audition dates for the UCSD Tritones start on Thursday September 22nd, and end on Thursday September 29th — a week-long process!
      </p>
      <p class="body-text">
        During the “audition” portion, you will be able to showcase your solo voice and introduce yourself as an individual. The audition will include:
      </p>
      <ul>
        <li class="body-text">some warm-ups/a range test,</li>
        <li class="body-text">rhythm reading and sight reading,</li>
        <li class="body-text">some tonal memory exercises,</li>
        <li class="body-text">a 60 second solo of your style and choice.</li>
        <li class="body-text">and an optional vocal percussion solo.</li>
        <li class="body-text">* Please prepare a one-minute solo of your choice that showcases your vocal abilities, and also prepare to sing the Star Spangled Banner (U.S. National Anthem) in case we want to hear more.</li>
      </ul>
      <p class="caption-text">
        *We are always looking for talented beatboxers or those motivated to learn the skill!
      </p>
      <p class="caption-text">
        If you require accommodations, such as a remote audition, need to cancel/reschedule, or if you have any general questions, shoot us an email or an Instagram DM!
      </p>
      <div class="buttons"><button class="button"><p class="body-text">Apply now</p></button></div>
      
    </div>
  
  
  </div>
  